/**
* Reset some basic elements
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
* Sets all elements box-sizing to border-box
*/
* {
  box-sizing: border-box;
}

/**
* Basic styling
*/

html {
  height: 100%;
  width: 100%;
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 90vh;
}

/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.videoWrapper {
  margin-bottom: $spacing-unit / 2;
}

/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
* Figures
*/
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
* Lists
*/
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
* Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
}

h1,
.h1 {
  font-size: $base-font-size * 2;

  @include respond-to-min($med) {
    font-size: $base-font-size * 2.5;
  }

  @include respond-to-min($large) {
    font-size: $base-font-size * 3;
  }
}

h2,
.h2 {
  font-size: $base-font-size * 1.625;

  @include respond-to-min($med) {
    font-size: $base-font-size * 2;
  }

  @include respond-to-min($large) {
    font-size: $base-font-size * 2.25;
  }
}

h3,
.h3 {
  font-size: $base-font-size * 1.375;

  @include respond-to-min($med) {
    font-size: $base-font-size * 1.5;
  }

  @include respond-to-min($large) {
    font-size: $base-font-size * 1.75;
  }
}

h4,
.h4 {
  font-size: $base-font-size * 1.25;
}

/**
* Links
*/
a {
  color: $brand-color;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

.btn {
  width: 100%;
  text-align: center;
  background-color: $brand-color;
  color: #fff;
  font-weight: 600;
  padding: 10px 15px;
  display: inline-block;
  min-height: 44px;

  @include respond-to-min($small) {
    width: auto;
  }

  &:hover {
    background-color: $text-color;
    color: #fff;
    text-decoration: none;
  }
}

/**
* Blockquotes
*/
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
* Code formatting
*/
pre,
code {
  font-size: 14px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #f7f7fa;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  //overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
* Wrapper
*/
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @include clearfix;

  @include respond-to-min($large) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

/**
* Icons
*/
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

/**
* Form
*/

// form {
//   margin-top: $spacing-unit;
// }

fieldset {
  margin-bottom: $spacing-unit / 2;
}

input,
textarea {
  outline: none;
  border: 1px solid $text-color;
  padding: 0 10px;
  padding-top: -2px;
  padding-bottom: 2px;
  height: 40px;
  width: 100%;
  transition: border 0.1s ease-in;
  -webkit-appearance: none;

  &:focus {
    border-color: $brand-color;
  }

  &::-webkit-input-placeholder {
    opacity: 0.6;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    opacity: 0.6;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0.6;
  }

  &:-ms-input-placeholder {
    opacity: 0.6;
  }
}

textarea {
  min-height: 175px;
  margin-bottom: $spacing-unit / 2;
  padding: 5px 10px;
}

input[type="submit"] {
  border: none;
  @extend .btn;
}

label {
  font-size: remify(14px);
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
}

.form-half {
  width: 100%;

  @include respond-to-min($med) {
    width: calc(50% - 8px);
    float: left;
    margin-right: 16px;

    &:nth-of-type(2n + 2) {
      margin-right: 0;
    }
  }
}

.fluid-width-video-wrapper {
  margin: $spacing-unit 0;
}
