.post {
  padding: $spacing-unit * 2 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $spacing-unit;
  }

  h1 {
    margin-bottom: $spacing-unit;
  }

  img {
    width: -webkit-calc(100% + #{$spacing-unit});
    width: calc(100% + #{$spacing-unit});
    margin: $spacing-unit / 2 auto;
    margin-left: -$spacing-unit / 2;
    max-width: none;
    @include clearfix;

    @include respond-to-min($large) {
      width: -webkit-calc(100% + (#{$spacing-unit} * 8));
      width: calc(100% + (#{$spacing-unit} * 8));
      margin-left: -$spacing-unit * 4;
    }
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
