.header {
  position: fixed;
  top: $spacing-unit;
  left: $spacing-unit / 2;
  right: $spacing-unit / 2;
  transition: top 0.2s ease-in-out;
  z-index: 20;
  transition: top 0.2s ease-in-out;
  background-color: #fff;
  padding: 10px $spacing-unit;
  border: 2px solid $brand-color;
}

.nav-up {
  top: -50px;
}

.header__logo {
  font-family: $base-font-family;
  font-weight: 600;
  font-size: 22px;
  display: none;
}

.header__nav {
  position: relative;
  width: 100%;
  font-size: $base-font-size;
  @include clearfix;

  @include respond-to-min($small) {
    left: 2.5vw;
    width: calc(100% - 5vw);
  }
}

.nav__list {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 2px; // Adjusts for embox spacing in font
}

.nav__item {
  list-style: none;
  display: inline-block;
}
