---
layout: default
---

  {% assign collection = site.work | sort: 'position' %}

<div class="home">

  {% for post in collection %}
  <section class="content-block">
    <a href="{{ post.url }}">
      <div class="content-block__cover" style="background-color: {{ post.background-color }};  {% if post.cover %} background-image: url( {{ post.cover }} );{% endif %}"></div>
      <div
      {% if post.copy == 'dark' %} class="content-block__copy--dark"
      {% else %} class="content-block__copy" {% endif %}>
      {% if post.client %}<p class="content-block__client">{{ post.client }}</p>{% endif %}
      <h2 class="content-block__title h1">{{ post.title }}</h2>
    </div>
  </a>
</section>
{% endfor %}

</div>
